.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

.todos-container{
  max-height: 320px;
}

.todos-container li {
  background: #c6c7c8;
  color: #484E53;
}

.delete {
  cursor: pointer;
}

.hidden{
  display: none;
}

.scrolling{
  overflow: scroll;
}


.scrolling::-webkit-scrollbar{
  width: 12px;
  height: 0px;
}

.scrolling::-webkit-scrollbar-track{
  background-color: transparent;
}

.scrolling::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: rgba(0, 0, 0,0.4);
  border:2px solid #c6c7c8;
}